@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

*{
margin:3px;
padding:2px;
border:2.5px solid;
border-color: transparent;
max-width: 100%;
max-height: 100%
}

:root{
    font-size:10px;
    font-family: "Faculty Glyphic";
    font-weight: 400;
    font-style: normal
}

  
#inicio{
    border:30rem 30rem;
    padding: 20rem 20rem #b3a8fa;
    margin: 0%;
    border-color:#c6a9f5;
    background-image: radial-gradient(circle, #adf6ce, #81edd9, #54e1e8, #2bd3f6, #34c3ff, #5abbff, #7db2ff, #9ca8fd, #b3a8fa, #c6a9f5, #d7abf0, #e5adeb);
    #nav1{
        background-color: transparent;
        width:100%;
        height:100%;
        ul{
            font-size: 1.8rem;
            display:inline-block;
            align-items: right;
            /* Navbar */
            .navbar-brand {
                font-weight: bold;
                font-size: 1rem;
                position: absolute;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            };
            #navbarNav-link{
                    text-decoration: none;
                    color:#002D07;
                    position:relative;
                    width: auto;
                    right: 20%;
                    text-align: right
                };
            #navbarNav-link:hover {
                text-decoration: none;
                color:#0095b9;
            }
            &
            #navbarNav-link:active{
                text-decoration: none;
                color:#00d5a2;
            }
            };
   
    };
}

#main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    border: 0rem;
    margin: 0rem;
    padding: 0rem;
    position: center;
    #banner{
        background-image:url('https://img.freepik.com/premium-photo/pastel-blue-pink-room-with-hanging-decorations-round-rug-chair_1174990-172023.jpg?w=1060');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1vp;
        height: 45rem;
        display:inline-block;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        border-color:#9ca8fd;
        @media screen and (max-width=600px) {
            #banner{
                width:100%;
                height:100%;
            }
        }
        @media screen and (min-width=600px) and (max-width=768px) {
            #banner{
                width:100% ;
                height: 100% ;
            }
        }
        @media screen and (min-width=768px) and (max-width=992px) {
            #banner{
                width:85%;
                height:85%;
            }
        }
        @media screen and (min-width=992px) and (max-width=1200px) {
            #banner{
                width:75%;
                height:75%;
            }
        }
        @media screen and (min-width=1200) {
            #banner{
                width: 65%;
                height: 65% ;
            }
        }
    
    };
    #h1{
        display: block;
        font-size:0.5rem;
        color:#dbe6fb;
        background-image: radial-gradient(circle, #adf6ce, #81edd9, #54e1e8, #2bd3f6, #34c3ff, #5abbff, #7db2ff, #9ca8fd, #b3a8fa, #c6a9f5, #d7abf0, #e5adeb);
        max-height:50%;
        };
    }
