@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

*{
margin:3px;
padding:2px;
border:2.5px solid;
border-color: transparent;
max-width: 100%;
max-height: 100%
}

:root{
    font-size:10px;
    font-family: "Faculty Glyphic";
    font-weight: 400;
    font-style: normal
}

  
#inicio{
    border:30rem 30rem;
    padding: 20rem 20rem #b3a8fa;
    margin: 0%;
    border-color:#c6a9f5;
    background-image: radial-gradient(circle, #adf6ce, #81edd9, #54e1e8, #2bd3f6, #34c3ff, #5abbff, #7db2ff, #9ca8fd, #b3a8fa, #c6a9f5, #d7abf0, #e5adeb);
    #h1{
        display: block;
        font-size:0.5rem;
        color:#dbe6fb;
        max-height:40%;
        };
}

#content{
    text-align: center;
    position:center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    font-family: "Faculty Glyphic";
    font-style:bold;
    border: 0rem;
    margin: 0rem;
    padding: 0rem;
    line-height:1.25rem;
    background-image: radial-gradient(circle, #eaf2fe, #e7effd, #e4ecfc, #e2e8fb, #e0e5fa, #dbe6fb, #d7e6fb, #d2e7fa, #cdebf8, #cceff2, #d0f1eb, #d8f2e4);
        @media screen and (max-width=600px) {
            #myCarousel{
                width:100%;
                height:100%;
            }
        };
        @media screen and (min-width=600px) and (max-width=768px) {
            #myCarousel{
                width:100% ;
                height: 100% ;
            }
        }
        @media screen and (min-width=768px) and (max-width=992px) {
            #myCarousel{
                width:85%;
                height:85%;
            }
        }
        @media screen and (min-width=992px) and (max-width=1200px) {
            #myCarousel{
                width:75%;
                height:75%;
            }
        }
        @media screen and (min-width=1200) {
            #myCarousel{
                width: 65%;
                height: 65% ;
            }
        };
    #main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        border: 0rem;
        margin: 0rem;
        padding: 0rem;
        position: center;
        #h1{
            display: block;
            font-size:0.5rem;
            color:#dbe6fb;
            background-image: radial-gradient(circle, #adf6ce, #81edd9, #54e1e8, #2bd3f6, #34c3ff, #5abbff);
            max-height:40%;
            };
        .h3{
                font-size: 0.3rem;
                color:#6a7cff
            };
        }
}


#form{
        display: inline-block;
        position: center;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: space-evenly;
        border-color:#b3a8fa;
        max-width: 70%;
        max-height: 60%;
        min-width: 50%;
        min-height: auto;
        background-color:transparent;
        font-family: "Faculty Glyphic";
        font-size: 1.25em;
        color: #124e8a;
        text-align: left;
        input{
                display: grid;
                grid-template-areas: "nombre" "correo" "mensaje";
                grid-template-columns: 1fr;
                grid-template-rows: 0.3fr 0.7fr; 
                align-items: center;
                justify-content: space-evenly;
                width:75%;
                padding: 0.5rem 0.25rem;
                margin: 0.5rem 0;
                box-sizing: border-box;
                border: 2x solid;
                border-color:#0072aa;
                border-radius: 4px;
                color:#124e8a;
                background-color:#abf6ad;
                font-family: "Faculty Glyphic";
                text-align: left
              }
        #mensaje{
            display: block;    
            position:relative;
                min-width: 85%;
                max-width: 95%; 
                max-height: 40%;
                color:#124e8a;
                padding: 2em 3em;
                box-sizing: border-box;
                border: 2px solid;
                border-color:#0072aa;
                border-radius: 4px;
                font-family: "Faculty Glyphic";
                font-size: 1em;
                background-color:#abf6ad
            };
        @media screen and (max-width=600px) {
                #form{
                    max-width: 60%;
                    max-height: 40%;
            
                }
                #label{
                    position: left;
                    text-align: left;
                }
            };
            @media screen and (min-width=600px) and (max-width=768px) {
                #form{
                    max-width: 60%;
                    max-height: 40%;
            
                }
                #label{
                    position: left;
                    text-align: left;
                }
            };
        
            @media screen and (min-width=768px) and (max-width=992px) {
                #form{
                    max-width: 60%;
                    max-height: 40%;
            
                }
                #label{
                    position: right;
                    text-align: left;
                }
            };
            
            @media screen and (min-width=992px) and (max-width=1200px) {
                #form{
                    max-width: 60%;
                    max-height: 40%
            
                };
                #label{
                    position: right;
                    text-align: left
                }
            };
            
            @media screen and (min-width=1200) {
                #form{
                    max-width: 60%;
                    max-height: 40%
                };
                #label{
                    position: right;
                    text-align: left
                }
            }
            #submit{
                display:inline-block;
                justify-content: right;
                align-items:right;
                background-color:#b3a8fa;
                border:#abf6ad 2em;
                size: 4.4rem 3.3rem;
                border-radius: 5px;
                color:#6a7cff;
                text-align: center;
                font-family: "Faculty Glyphic";
                font-size: 2rem;
                font-style: bold;
                box-shadow: 0 0 2px #7db2ff;
                :hover {
                    transform: translate(0, 8px);
                    color:lightcoral
                    };
                  };
        }